<%- include("partials/playHeader") %> 

<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
        <th scope="col">Caption</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i=0; i<allPoints.length; i++){ %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= allPoints[i].username %></td>
          <td><%= allPoints[i].pt %></td>
        </tr>
      <% } %> 
    </tbody>
  </table>

<%- include("partials/footer") %> 